* {
    font-family: Arial, Helvetica, sans-serif;

}

html {
    background: #262626;
    text-align: center;
}

h1 {
    font-size: 30px;
    color: #D81E5B;
    font-weight: 900;
}

h2 {
    font-size: 26px;
    color: #F5D7E3;
    font-weight: 800;
}

p {
    font-size: 20px;
    margin: 30px auto;
    color: #F5D7E3;
}

ul {
    margin-left: 100px;
    padding: 20px;
    border: solid 5px #D81E5B;
    max-width: 40%;
    list-style: none;
    margin: auto;
}

li {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    padding: 10px;
    color: #F5D7E3;
}

li:hover {
    background: rgb(0 0 0 / 0.1);
}

a {
    font-weight: bold;
    color: #D81E5B;
}

li a {
    color: #F1C40F;
    text-decoration: underline;
}

.lista, .lista a {
    color: #2274A5;
}

.banderita {
    width: 30%;
    position: fixed;
    bottom: -10px;
    left: 20px;
}
